.navbar {
  padding: 0.8rem 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #1562ba !important;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #1562ba !important;
}
